/* .carousel-caption{
  margin-bottom: 100px;
  margin-right: 400px;
  text-align: justify;
  width: 60%;

  /* width: 810px; */
 
/* }
.bnm{
  background-color: rgb(120, 9, 223);
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;

}
.bnm:hover{
  background-color: rgb(206, 152, 206);
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3x;
}
@media(max-width:720px)
{
  h1{
      font-size: 20px;
      margin-right: 200px;
  }
  p{
      font-size: 15px;
      margin-right: 200px;
  }
  .bnm{
      padding: 0px;
  }
  .carousel-caption{
      width: 400px;
      text-align: justify;
      
  }

}
.modal-title{
  margin-left: 100px;
}
button{
  background-color: blueviolet;
  color: white;
  border: none;
 

}
 */





 */
